<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
           <h1 class="home-title">Merge More.
        Build Better.</h1> 
        <p class="home-text">Create a town full of cats and turn small items into a growing world.</p>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.mobirix.mgct&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google-play" loading="lazy">
        </a>
        </div>        
    </div>
</section>