<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
           <h1 class="home-title">Merge More.
        Build Better.</h1> 
        <p class="home-text">Create a town full of cats and turn small items into a growing world.</p>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.mobirix.mgct&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google-play" loading="lazy">
        </a>
        </div>        
    </div>
</section>
<section class="about-section" id="about">
    <div class="container">
        <div class="title-container">
            <img src="/img/cat.png" alt="cat face" loading="lazy">
            <h2>About the Game</h2>
        </div>
        <h3>From simple merges to a living world</h3>
        <p class="about-text">It's like any other merge game you've probably played, except this time you're not just matching stuff for points -
        you're actually creating something cool. You match up the same items to get new stuff, and all of that helps you build
        up your little cat town. What's really cool is that every single merge you do actually changes your town somehow, and
        that instant feedback is weirdly addictive.</p>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container">
        <div class="title-container">
            <img src="/img/cat.png" alt="cat face" loading="lazy">
            <h2>How To Play</h2>
        </div>
        <h3>Merge, unlock, expand</h3>
        <div class="swiper how-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="how-img" src="/img/how/one.png" alt="game" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="how-img" src="/img/how/two.png" alt="game" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="how-img" src="/img/how/three.png" alt="game" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="how-img" src="/img/how/four.png" alt="game" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="how-img" src="/img/how/five.png" alt="game" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>