<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
           <h1 class="home-title">Merge More.
        Build Better.</h1> 
        <p class="home-text">Create a town full of cats and turn small items into a growing world.</p>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.mobirix.mgct&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google-play" loading="lazy">
        </a>
        </div>        
    </div>
</section>
<section class="about-section" id="about">
    <div class="container">
        <div class="title-container">
            <img src="/img/cat.png" alt="cat face" loading="lazy">
            <h2>About the Game</h2>
        </div>
        <h3>From simple merges to a living world</h3>
        <p class="about-text">It's like any other merge game you've probably played, except this time you're not just matching stuff for points -
        you're actually creating something cool. You match up the same items to get new stuff, and all of that helps you build
        up your little cat town. What's really cool is that every single merge you do actually changes your town somehow, and
        that instant feedback is weirdly addictive.</p>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container">
        <div class="title-container">
            <img src="/img/cat.png" alt="cat face" loading="lazy">
            <h2>How To Play</h2>
        </div>
        <h3>Merge, unlock, expand</h3>
        <div class="swiper how-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="how-img" src="/img/how/one.png" alt="game" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="how-img" src="/img/how/two.png" alt="game" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="how-img" src="/img/how/three.png" alt="game" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="how-img" src="/img/how/four.png" alt="game" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img class="how-img" src="/img/how/five.png" alt="game" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features-section" id="features">
    <div class="container">
        <div class="title-container">
            <img src="/img/cat.png" alt="cat face" loading="lazy">
            <h2>Features</h2>
        </div>
        <h3>Relaxing and rewarding</h3>
        <ul class="features-list">
            <li class="features-item">
                <img class="features-img" src="/img/features/one.png" alt="game" loading="lazy">
                <div class="features-wrapper">
                    <p class="features-item-title">Charming Style</p>
                    <p class="features-item-text">Cute cat-themed visuals.</p>
                </div>
            </li>
            <li class="features-item">
                <img class="features-img" src="/img/features/two.png" alt="game" loading="lazy">
                <div class="features-wrapper">
                    <p class="features-item-title">Merge Mechanics</p>
                    <p class="features-item-text">Just drag and drop - can't be easier.</p>
                </div>
            </li>
            <li class="features-item">
                <img class="features-img" src="/img/features/three.png" alt="game" loading="lazy">
                <div class="features-wrapper">
                    <p class="features-item-title">Steady Progression</p>
                    <p class="features-item-text">You can really see how far you've come when you look back.</p>
                </div>
            </li>
            <li class="features-item">
                <img class="features-img" src="/img/features/four.png" alt="game" loading="lazy">
                <div class="features-wrapper">
                    <p class="features-item-title">Town Building</p>
                    <p class="features-item-text">Watch your environment evolve.</p>
                </div>
            </li>
            <li class="features-item">
                <img class="features-img" src="/img/features/five.png" alt="game" loading="lazy">
                <div class="features-wrapper">
                    <p class="features-item-title">Casual Gameplay</p>
                    <p class="features-item-text">Play at your own pace.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="gallery-section" id="gallery">
    <div class="container gallery-container">
        <div class="title-container">
            <img src="/img/cat.png" alt="cat face" loading="lazy">
            <h2>Gallery</h2>
        </div>
        <h3>From small merges to big results</h3>
        <div class="gallery-wrapper">
        
            <div class="swiper gallery-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/img/gallery/one.png" alt="game" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/gallery/two.png" alt="game" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/gallery/three.png" alt="game" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/gallery/four.png" alt="game" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/gallery/five.png" alt="game" loading="lazy">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/gallery/six.png" alt="game" loading="lazy">
                    </div>
                </div>
            </div>
        
        
        </div>
        <button class="gallery-prev btn">
            <img src="/img/gallery/chevron-left.png" alt="Prev" loading="lazy">
        </button>
        <button class="gallery-next btn">
            <img src="/img/gallery/chevron-right.png" alt="Next" loading="lazy">
        </button>
    </div>
</section>
<section class="reviews-section" id="reviews">
    <div class="container">
        <div class="title-container">
            <img src="/img/cat.png" alt="cat face" loading="lazy">
            <h2>Reviews</h2>
        </div>
        <h3>What players say</h3>
        <ul class="reviews-list">
            <li class="reviews-item">
                <div class="reviews-wrapper">
                    <p class="author">Jenny T.</p>
                    <img src="/img/reviews/five.png" alt="5 stars" loading="lazy">
                    </div>
        <p class="reviews-text">“Been playing this for weeks now and it's become my go-to wind-down game. The cats are ridiculously cute and it never
        feels stressful.”</p>
            </li>
            <li class="reviews-item">
                <div class="reviews-wrapper">
                    <p class="author">Andrew P.</p>
                    <img src="/img/reviews/four.png" alt="4 stars" loading="lazy">
                </div>
                <p class="reviews-text">“The drag-and-drop feels really responsive, and honestly the art style is way better than I expected for a mobile game.”</p>
            </li>
            <li class="reviews-item">
                <div class="reviews-wrapper">
                    <p class="author">Lisa W.</p>
                    <img src="/img/reviews/five.png" alt="5 stars" loading="lazy">
                </div>
                <p class="reviews-text">“Nice progression and easy to play. The gameplay feels smooth and easy to understand.”</p>
            </li>
            <li class="reviews-item">
                <div class="reviews-wrapper">
                    <p class="author">Leo K.</p>
                    <img src="/img/reviews/four.png" alt="4 stars" loading="lazy">
                </div>
                <p class="reviews-text">“Perfect for casual sessions. Great for quick play sessions during breaks or downtime. You can hop in anytime without
                feeling lost or rushed.”</p>
            </li>
            <li class="reviews-item">
                <div class="reviews-wrapper">
                    <p class="author">Patricia M.</p>
                    <img src="/img/reviews/five.png" alt="5 stars" loading="lazy">
                </div>
                <p class="reviews-text">“Feels satisfying to grow the town. Watching the town slowly come to life feels really rewarding.”</p>
            </li>
        </ul>
    </div>
</section>
<section class="faq-section" id="faq">
    <div class="container">
        <div class="title-container">
            <img src="/img/cat.png" alt="cat face" loading="lazy">
            <h2>FAQ</h2>
        </div>
        <h3>Quick answers</h3>
<ul class="faq-acc">
    <li class="faq-acc-el faq-current">
        <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
                Is the game easy to<br class="mob" /> play?

                <span class="faq-acc-arr arr-down">
                    <img src="/img/faq/up.png" alt="icon" loading="lazy">
                </span>
            </button>
        </h3>

        <p class="faq-acc-el-descr-frame">Yeah, it's pretty straightforward - if you can drag and drop, you can play this game.</p>
    </li>
    <li class="faq-acc-el faq-current">
        <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
                Do I need to play<br class="mob" /> constantly?
    
                <span class="faq-acc-arr arr-down">
                    <img src="/img/faq/up.png" alt="icon" loading="lazy">
                </span>
            </button>
        </h3>
    
        <p class="faq-acc-el-descr-frame">No, it’s designed for relaxed pacing.</p>
    </li>
    <li class="faq-acc-el faq-current">
        <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
                Can I expand the <br class="mob" /> town?
    
                <span class="faq-acc-arr arr-down">
                    <img src="/img/faq/up.png" alt="icon" loading="lazy">
                </span>
            </button>
        </h3>
    
        <p class="faq-acc-el-descr-frame">Yes, new areas unlock over time.</p>
    </li>
    <li class="faq-acc-el faq-current">
        <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
            Are there many items<br class="mob" /> to merge?
    
                <span class="faq-acc-arr arr-down">
                    <img src="/img/faq/up.png" alt="icon" loading="lazy">
                </span>
            </button>
        </h3>
    
        <p class="faq-acc-el-descr-frame">Yes, progression introduces new elements.</p>
    </li>
    <li class="faq-acc-el faq-current">
        <h3 class="faq-acc-el-title">
            <button type="button" class="faq-acc-el-trigger">
            Is it suitable for all<br class="mob" /> players?
    
                <span class="faq-acc-arr arr-down">
                    <img src="/img/faq/up.png" alt="icon" loading="lazy">
                </span>
            </button>
        </h3>
    
        <p class="faq-acc-el-descr-frame">Yes, it’s accessible and casual.</p>
    </li>
</ul>
    </div>
</section>
<section class="contact-section" id="contact">
    <div class="container">
        <div class="title-container">
            <img src="/img/cat.png" alt="cat face" loading="lazy">
            <h2>Contact</h2>
        </div>
        <h3>Let’s stay in touch</h3>
        <a class="contact-link" href="mailto:info@goldenstep.online">
            <img src="/img/contact/mail.png" alt="mail" loading="lazy">
            <p>info@goldenstep.online</p>
        </a>
    </div>
</section>