.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 860px;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-title{
font-family: "Fredoka", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    color: #372318;
    -webkit-text-stroke: 8px #fff;
        paint-order: stroke fill;
}
.home-text{
    margin-top: 20px;
    font-family: "Funnel Display", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        color: #372318;
text-shadow: 1px 1px 1px  #fffff3;
}
.home-link{
    margin-top: 408px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a1816e;
        border-radius: 12px;
        width: 240px;
        height: 64px;
    box-shadow: 0 4px 4px 0 rgba(45, 45, 45, 0.5);
        background: #f86067;
transition: background 0.3s ease-in-out;
}
.home-link:hover{
background: #ec5860;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
height: 790px;
}
.home-wrapper{
    margin-top: 224px;
    margin-left: 200px;
    margin-right: auto;
width: 411px;
align-items: start;
}
.home-title{
font-size: 64px;
text-align: left;
}
.home-text{
    margin-top: 32px;
text-align: left;
}
.home-link{
    margin-top: 32px;
}   
}
/* About the Game */
@media only screen and (min-width: 1440px) {
 .about-text{
    width: 774px;
    margin-left: auto;
    margin-right: auto;
 }
}
/* How To Play */
.how-section{
    background: #e8e5d6;
}
.how-swiper .swiper-slide{
    width: 210px;
    height: 536px;
}
.how-swiper .swiper-slide img{
    width: 100%;
height: 536px;
}
@media only screen and (min-width: 1440px) {
 .how-swiper .swiper-wrapper{
    gap: 32px;
    justify-content: center;
 }
}
/*  Features */
.features-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.features-item{
    display: flex;
    align-items: center;
    gap: 32px;
}
.features-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
gap: 16px;
}
.features-item-title{
text-align: left;
padding-bottom: 16px;
border-bottom: 1px solid #a1816e;
    width: 201px;
}
.features-img{
    width: 100px;
        height: 100px;
}
.features-item-text{
    font-size: 12px;
    color: #654837;
    text-align: left;
}
@media only screen and (min-width: 1440px) {
 .features-list{
    flex-direction: row;
    justify-content: center;
}
.features-item{
    flex-direction: column;
    width: 200px;
}
.features-wrapper{
align-items: center;
}
.features-item-title{
    text-align: center;
width: 200px;
}
.features-img{
width: 160px;
    height: 160px;
}
.features-item-text{
text-align: center;
}   
}
/* Gallery */
.gallery-section{
    background: #e8e5d6;
}
.btn {
    display: none;
}

@media only screen and (min-width: 1440px) {
    .gallery-wrapper {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .gallery-container {
        position: relative;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 60%;
        border-radius: 999px;
        background: #f86067;
        width: 48px;
        height: 48px;
        border: none;
        transition: box-shadow 0.3s ease-in-out;
    }

    .btn:hover {
box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .gallery-next {
        right: 10%;
    }

    .gallery-prev {
        left: 10%;
    }
}